<!DOCTYPE html>
%html{lang: "en"}
    %meta{charset: "utf-8"}
    %head
        %title
            = full_title(yield(:title))
            | VocabBuilder
        = stylesheet_link_tag    "application", media: "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = render 'layouts/shim'
    %body
        = render 'layouts/header'
        %section.container
            = yield
            = render 'layouts/footer'
